* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
  background-image: url(../img/bg-1.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(14, 105, 117, 0.6);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
#search {
  background-color: #075777;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}
#search:hover {
  background-color: #03212c;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.prep row {
  background-color: #000;
  color: white;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  height: 600px;
  padding: 50px;
  object-fit: cover;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.header {
  background: radial-gradient(#fff, #8bddf7);
}
.header .row {
  margin-top: 70px;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* *********PreLoader Start ************* */
.sk-folding-cube {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

#spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #033eaf;
  z-index: 999999;
}

/* Preloader End */

/* Brands */

.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}

/* Features */
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4:hover {
  transform: translateY(-5px);
}
.col-4 p {
  font-size: 14px;
}
.col-2 h2 {
  font-size: 30px;
  line-height: 60px;
  margin: 25px 0;
}
.col-4 {
  /* margin-right: 5px; */
  flex-basis: 25%;
  padding: 20px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}
.col-4 img {
  width: 100%;
}
.col-4 p {
  font-size: 14px;
}
.col-4:hover {
  transform: translateY(-5px);
}

/* preparation */
h4 {
  text-align: justify;
}
.prat {
  padding: 20px;
}
.last {
  float: right;
}
.prat .icon-box {
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(231, 237, 238);
}
.prat .icon-box:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  transform: translateY(-10px);
}
.prat p {
  text-align: center;
}
.prep .container img {
  border-radius: 50px;
  padding: 30px;
}
.prep .fa {
  color: #075777;
  font-size: 40px;
}
#prept.row {
  width: 70px !important;
  height: 100%;
}
/* Footer */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(14, 105, 117, 0.6);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* =========== Pincode =============== */

.title {
  text-align: center;
  margin: 0 auto 50px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: " ";
  background: #075777;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#title {
  text-align: center;
  /* margin: 0 auto 80px; */
  position: relative;
  line-height: 60px;
  color: #555;
}

.contact .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.5s;
  background-color: rgb(171, 231, 231);
  border-radius: 5px;
}
.contact .col-3:hover {
  transform: translateY(-10px);
}
.contact .col-3 h4,
.contact .col-3 p {
  font-size: 1.3rem;
}
#map {
  padding: 0;
}
form input {
  width: 100%;
  height: 40px !important;
  margin: 10px 0;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
for .btn:focus {
  outline: none;
}
#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 2px solid #ccc;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
for .btn:focus {
  outline: none;
}
#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0;
}

#rg-bg:hover {
  background-color: rgb(252, 237, 103);
}
form a {
  font-size: 12px;
}
.contact-form .col-2 {
  border-radius: 10px;
  margin-bottom: 5rem;
  text-align: left;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.5s;
  background-color: rgb(238, 234, 234);
}
.btn {
  display: inline-block !important;
  background: #075777 !important;
  color: aliceblue !important;
  padding: 8px 30px !important;
  margin: 30px 0 !important;
  border-radius: 30px !important;
  transition: background 0.5s !important;
}
.btn:hover {
  background: #03212c !important;
}
/* ----------   Hospital details  ------------ */

.hosp-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.hosp-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px 40px 5px 20px;
  color: #fff;
  background: #075777;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 60px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #075777;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
td button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
td button .fa {
  color: #075777;
}

/* --------------media query for menu------------------ */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}
