* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif !important;
  background-image: url("static/img/bg-1.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav {
  background-color: #000;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(14, 105, 117, 0.6);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
#search {
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}
#search:hover {
  background-color: #03212c;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.prep row {
  background-color: #000;
  color: white;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  height: 600px;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.header {
  background: radial-gradient(#fff, #8bddf7);
}
.header .row {
  margin-top: 70px;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* Brands */

.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

/* Features */
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4:hover {
  transform: translateY(-5px);
}
.col-4 p {
  font-size: 14px;
}
.col-2 h2 {
  font-size: 30px;
  line-height: 60px;
  margin: 25px 0;
}
.col-4 {
  /* margin-right: 5px; */
  flex-basis: 25%;
  padding: 20px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}
.col-4 img {
  width: 100%;
}
.col-4 p {
  font-size: 14px;
}
.col-4:hover {
  transform: translateY(-5px);
}

/* preparation */
h4 {
  text-align: justify;
}
.prat {
  padding: 20px;
}
.last {
  float: right;
}
.prat .icon-box {
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(231, 237, 238);
}
.prat .icon-box:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  transform: translateY(-10px);
}
.prat p {
  text-align: center;
}
.prep .container img {
  border-radius: 50px;
  padding: 30px;
}
.prep .fa {
  color: #075777;
  font-size: 40px;
}
#prept.row {
  width: 70px !important;
  height: 100%;
}
/* Footer */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}

/* --------------media query for menu------------------ */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}

.div1{
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #17627e;
  text-align: center;
}
.card-title{
  font-size: 20px;
}


.center {
  text-align: center;
  
}
h1,h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}